#footer {
    text: 30px;
    height: 40px;
    background: #f7f7f7;
    position: absolute;

    bottom: 0;
    width: 100%;
}

#searchbar {
    float: right;
}

.recipe_name {
    font-weight: bold;
    font-family: Arial;
}

.like {
    color: gray;
}

.form-container {
    width: 500px;
    margin: 0 auto;
}

.body-main {
    background-color: cornsilk;
}